<template>
  <div>
    <h3>
      {{ model.id ? 'Update genre ID #' + model.id : 'Create genre'}}
    </h3>

    <div class="wrapper mt-5">
      <div class="form-group row">
        <label class="col-2 col-form-label">Title</label>
        <div class="col-10">
          <input class="form-control" type="text" v-model="model.title">

          <small v-if="submitted && $v.model.title.$invalid && !$v.model.title.required"
                 class="form-text text-left text-danger">
           This field is required
          </small>
        </div>
      </div>
      <div class="btn-wrapper text-right">
        <button class="btn btn-xs btn-success"  @click="saveModel">
          Save
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'CreateUpdate',
  data () {
    return {
      loading: false,
      submitted: false,
      model: {
        title: null
      }
    }
  },
  validations () {
    return {
      model: {
        title: {
          required
        }
      }
    }
  },
  mixins: [validationMixin],

  computed: {
    isNewModel () {
      return this.$router.currentRoute.name === this.$routes.ROUTE_CREATE_GENRE
    },
    modelId () {
      return this.$router.currentRoute.params.id
    }
  },
  created () {
    if (!this.isNewModel) {
      this.populateModelToEdit(this.modelId)
    }
  },
  methods: {
    async populateModelToEdit (id) {
      try {
        this.loading = true
        let response = await this.$http.get(`genres/${id}`).catch(error => {
          throw error.response
        })
        this.model = Object.assign({}, response.data)
      } catch (error) {
        this.$toasted.show(error.statusText)
      } finally {
        this.loading = false
      }
    },
    async saveModel () {
      this.submitted = true

      if (this.$v.$invalid) {
        this.$toasted.show('Please fix validation errors')
        return false
      }
      try {
        this.loading = true
        let modelId = this.model.id
        let requestData = {
          title: this.model.title
        }
        await this.$http({
          method: this.isNewModel ? 'post' : 'put',
          url: this.isNewModel ? `genres` : `genres/${modelId}`,
          data: requestData}).then(response => {
        }).catch(error => {
          throw error.response
        })
        this.submitted = false

        this.$router.push({'name': this.$routes.ROUTE_LIST_GENRE, params: {toasted: 'Genre was saved'}})
      } catch (error) {
        if (error.status === this.$constants.ERROR_CODE_VALIDATION_FAILED) {
          this.$toasted.show('Validation error! ' + error.data[0].message)
        } else {
          this.$toasted.show(error.statusText)
        }
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
