<template>
  <div v-if="!loading">
    <h3><font-awesome-icon icon="book-open" /> Genres </h3>

    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col" class="text-right">
          <router-link tag="button" class="btn btn-sm btn-success" :to="{ name: $routes.ROUTE_CREATE_GENRE}">
            <font-awesome-icon icon="plus-circle" /> Add genre
          </router-link>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="model in models" :key="model.id">
        <td>{{model.id}}</td>
        <td>{{model.title}}</td>
        <td class="text-right">
          <router-link tag="button" class="btn btn-sm btn-info" :to="{ name: $routes.ROUTE_UPDATE_GENRE, params: { id: model.id }}">
            <font-awesome-icon icon="edit" />
          </router-link>
          <button class="btn btn-sm btn-danger" @click="removeModel(model.id)">
            <font-awesome-icon icon="trash" />
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'GenresList',

  data () {
    return {
      models: null,
      loading: true
    }
  },

  mounted () {
    this.getModelsList()
  },

  methods: {
    async getModelsList () {
      this.loading = true
      const response = await this.$http.get(`genres`)
      this.models = response.data
      this.loading = false
    },
    async removeModel (id) {
      try {
        await this.$http.delete(`genres/${id}`).catch(error => {
          throw error.response
        })
        this.$toasted.show(`Genre #id ${id} was removed`)
        let index = this.models.map(item => item.id).indexOf(id)
        this.$delete(this.models, index)
      } catch (error) {
        this.$toasted.show(error.statusText)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
