<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        <form class="form-signin">
                            <div class="form-label-group mb-4">
                                <input v-model="email" class="form-control" placeholder="Username"
                                       required autofocus>
                            </div>

                            <div class="form-label-group mb-4">
                                <input v-model="password" type="password"  class="form-control" placeholder="Password"/>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" @click.prevent="login">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      email: null,
      password: null
    }
  },

  beforeUpdate () {
    if (localStorage.token) {
      this.$router.push({name: this.$routes.ROUTE_LIST_BOOK})
      location.reload()
    }
  },

  methods: {
    async login () {
      try {
        let params = { username: this.email, password: this.password }
        const response = await this.$http.post('/site/login', params)
          .catch(error => { throw error.response })
        if (!response.data.token) {
          this.$toasted.show('Could not able get token')
          localStorage.removeItem('token')
        } else {
          await localStorage.setItem('token', response.data.token)
          this.$router.push({'name': this.$routes.ROUTE_LIST_BOOK})
          location.reload()
        }
      } catch (error) {
        localStorage.removeItem('token')
        if (error.status === this.$constants.ERROR_CODE_VALIDATION_FAILED) {
          this.$toasted.show('Invalid password or email')
        } else {
          this.$toasted.show(error.statusText)
        }
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
