
<template>
  <div id="app">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap" v-show="isLoggedIn">
          <a class="nav-link" @click="logOut">Logout</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" v-if="isLoggedIn">
          <div class="sidebar-sticky" >
            <ul class="nav flex-column">
              <li class="nav-item" v-for="item in menu" :key="item.route">
                <router-link tag="a" class="nav-link" :class="{'active' : isRoute(item.route)}" :to="{ name: item.route}">
                  <font-awesome-icon :icon="item.icon" />
                  {{ item.label }}
                </router-link>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" :class="isLoggedIn ? 'col-md-9 ml-sm-auto col-lg-10 px-4' : 'col-md-12 ml-sm-auto col-lg-12 px-4'">
          <router-view/>
        </main>
      </div>
    </div>
  </div>
</template>

<script>

import 'bootstrap/dist/css/bootstrap.min.css'
import 'bootstrap/dist/css/bootstrap-reboot.min.css'
import 'vue-multiselect/dist/vue-multiselect.min.css'
import '@/assets/css/dashboard.css'

export default {
  name: 'App',

  data () {
    return {
      menu: [
        {route: this.$routes.ROUTE_LIST_BOOK, icon: 'book', label: 'Books'},
        {route: this.$routes.ROUTE_CREATE_BOOK, icon: 'plus-circle', label: 'Create Book'},
        {route: this.$routes.ROUTE_LIST_GENRE, icon: 'book', label: 'Genres'},
        {route: this.$routes.ROUTE_CREATE_GENRE, icon: 'plus-circle', label: 'Create Genre'}
      ]
    }
  },
  beforeUpdate () {
    if (this.$router.currentRoute.params.toasted) {
      this.$toasted.show(this.$router.currentRoute.params.toasted)
    }
  },
  computed: {
    isLoggedIn () {
      return localStorage.getItem('token') !== null
    }
  },
  methods: {

    logOut () {
      localStorage.removeItem('token')
      this.$router.push({name: this.$routes.ROUTE_LOGIN})
      location.reload()
    },
    isRoute (name) {
      return this.$router.currentRoute.name === name
    }
  }
}
</script>
