<template>
  <div>
    <h3>
      {{ model.id ? 'Update book ID #' + model.id : 'Create book'}}
    </h3>

    <div class="wrapper mt-5">
      <div class="form-group row">
        <label class="col-2 col-form-label">Title</label>
        <div class="col-10">
          <input class="form-control" type="text" v-model="model.title">

          <small v-if="submitted && $v.model.title.$invalid && !$v.model.title.required"
                 class="form-text text-left text-danger">
            This field is required
          </small>
        </div>

      </div>
      <div class="form-group row ">
        <label class="col-2 col-form-label">Author</label>
        <div class="col-10">
          <input class="form-control" type="text" v-model="model.author">
          <small v-if="submitted && $v.model.author.$invalid && !$v.model.author.required"
                 class="form-text text-left text-danger">
            This field is required
          </small>
        </div>
      </div>
      <div class="form-group row ">
        <label class="col-2 col-form-label">ISBN</label>
        <div class="col-10">
          <input class="form-control" type="text" v-model="model.isbn">
          <small v-if="submitted && $v.model.isbn.$invalid"
                 class="form-text text-left text-danger">
            This field is not valid
          </small>
        </div>
      </div>
      <div class="form-group row ">
        <label class="col-2 col-form-label">Genre</label>
        <div class="col-10">
          <multiselect
                  v-model="model.genres"
                  :options="genres"
                  :multiple="true"
                  :close-on-select="false"
                  :clear-on-select="false"
                  :preserve-search="true"
                  placeholder="Select genres"
                  label="title"
                  track-by="title">
          </multiselect>
        </div>
      </div>
      <div class="btn-wrapper text-right">
        <button class="btn btn-xs btn-success"  @click="saveModel">
          Save
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import ISBN from 'isbn-validate'

export default {
  name: 'CreateUpdate',
  data () {
    return {
      loading: false,
      submitted: false,
      genres: [{}],

      model: {
        title: null,
        isbn: null,
        author: null,
        genres: []
      }
    }
  },
  validations () {
    return {
      model: {
        title: {
          required
        },
        author: {
          required
        },
        isbn: {
          required,
          isValid (value) {
            return ISBN.Validate(value)
          }
        }
      }
    }
  },
  mixins: [validationMixin],

  computed: {
    isNewModel () {
      return this.$router.currentRoute.name === this.$routes.ROUTE_CREATE_BOOK
    },
    modelId () {
      return this.$router.currentRoute.params.id
    }
  },
  created () {
    this.loadGenres()
    if (!this.isNewModel) {
      this.populateModelToEdit(this.modelId)
    }
  },
  methods: {
    async loadGenres () {
      try {
        this.loading = true
        let response = await this.$http.get(`genres`).catch(error => {
          throw error.response
        })
        this.genres = response.data
      } catch (error) {
        this.$toasted.show(error.statusText)
      } finally {
        this.loading = false
      }
    },

    async populateModelToEdit (modelId) {
      try {
        this.loading = true
        let response = await this.$http.get(`books/${modelId}?expand=genres`).catch(error => {
          throw error.response
        })
        this.model = Object.assign({}, response.data)
      } catch (error) {
        this.$toasted.show(error.statusText)
      } finally {
        this.loading = false
      }
    },
    async saveModel () {
      this.submitted = true

      if (this.$v.$invalid) {
        this.$toasted.show('Please fix validation errors')
        return false
      }
      try {
        this.loading = true
        let modelId = this.model.id
        let requestData = {
          title: this.model.title,
          author: this.model.author,
          isbn: this.model.isbn,
          genres: this.model.genres.map(item => item.id)
        }

        await this.$http({
          method: this.isNewModel ? 'post' : 'put',
          url: this.isNewModel ? `books` : `books/${modelId}`,
          data: requestData}).then(response => {

        }).catch(error => {
          throw error.response
        })
        this.submitted = false

        this.$router.push({'name': this.$routes.ROUTE_LIST_BOOK, params: {toasted: 'Your Book was saved'}})
      } catch (error) {
        if (error && error.status === this.$constants.ERROR_CODE_VALIDATION_FAILED) {
          this.$toasted.show('Validation error! ' + error.data[0].message)
        } else {
          this.$toasted.show(error.statusText)
        }
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
