<template>
  <div v-if="!loading">
    <h3><font-awesome-icon icon="book-open" /> Bookshelf </h3>

    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
        <th scope="col">Genre</th>
        <th scope="col" class="text-right">
          <router-link tag="button" class="btn btn-sm btn-success" :to="{ name: $routes.ROUTE_CREATE_BOOK}">
            <font-awesome-icon icon="plus-circle" /> Add book
          </router-link>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="book in books" :key="book.id">
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.isbn}}</td>
        <td v-if="book.genres">
            <span class="badge badge-secondary m-lg-1" v-for="genre in book.genres" :key="genre.id">
              {{genre.title}}
            </span>
        </td>
        <td v-else></td>
        <td class="text-right">
          <router-link tag="button" class="btn btn-sm btn-info" :to="{ name: $routes.ROUTE_UPDATE_BOOK, params: { id: book.id }}">
            <font-awesome-icon icon="edit" />
          </router-link>
          <button class="btn btn-sm btn-danger" @click="removeBook(book.id)">
            <font-awesome-icon icon="trash" />
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'List',

  data () {
    return {
      books: null,
      loading: true
    }
  },

  mounted () {
    this.getBookList()
  },

  methods: {
    async getBookList () {
      this.loading = true
      const response = await this.$http.get(`books?expand=genres`)
      this.books = response.data
      this.loading = false
    },
    async removeBook (id) {
      try {
        await this.$http.delete(`books/${id}`).catch(error => {
          throw error.response
        })
        this.$toasted.show(`Book #id ${id} was removed`)
        let index = this.books.map(item => item.id).indexOf(id)
        this.$delete(this.books, index)
      } catch (error) {
        this.$toasted.show(error.statusText)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
